@charset "utf-8";

html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	padding: 20px;
	background: #eee;
}

.page {
	box-sizing: border-box;
	max-width: 600px;
	padding: 20px;
	margin: 0 auto;
	background: #fff;
}

h1,
p,
pre {
	margin: 0 0 20px 0;
}

h1:last-child,
p:last-child,
pre:last-child {
	margin: 0;
}

.error-stack,
.slash-command {
	padding: 20px;
	background: #eee;
	overflow: auto;
}

